--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: arbitrators; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.arbitrators (id, can_resolve_disputes, can_moderate_content, can_suspend_users, disputes_handled, disputes_resolved, avg_resolution_time, is_active, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: enterprise_profiles; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: missions; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: chat_conversation; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.chat_conversation (id, is_closed, created_at, updated_at, client_id, mission_id, provider_id) FROM stdin;
be3d71af-6ee8-4cec-bec1-ac5f93400289	f	2026-07-02 22:40:04.21846+01	2026-07-02 22:51:02.135297+01	595c7448-962f-4ddd-a484-9548a5ab7fca	ba441a4a-1487-4be8-8fb6-9b27415b8ce3	1e02d858-a971-481b-9781-dead44012995
09a15c46-75ac-4160-8cd1-22474167f840	t	2026-07-03 01:11:34.631789+01	2026-07-03 01:25:17.591265+01	595c7448-962f-4ddd-a484-9548a5ab7fca	3223f1d7-f070-47c0-a378-50633e914772	5e93940a-c53c-4cc3-a93e-f5b8db2c97fb
\.


--
-- Data for Name: chat_message; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: disputes; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: dispute_appeals; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.dispute_appeals (id, reason, new_evidence, status, review_notes, created_at, reviewed_at, appellant_id, original_dispute_id, reviewed_by_id) FROM stdin;
\.


--
-- Data for Name: dispute_category_rules; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.dispute_category_rules (id, category, resolution_deadline_hours, max_refund_percent, min_penalty_percent, requires_expert, requires_site_visit, description) FROM stdin;
\.


--
-- Data for Name: dispute_evidence; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.dispute_evidence (id, evidence_type, title, description, file, file_hash, blockchain_proof_hash, metadata, is_accepted, created_at, dispute_id, submitted_by_id) FROM stdin;
\.


--
-- Data for Name: dispute_messages; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.dispute_messages (id, message, is_internal, created_at, dispute_id, sender_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: employee_assignments; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.employee_assignments (id, assignment_type, notes, assigned_at, accepted_at, rejected_at, rejection_reason, completed_at, assigned_by_id, employee_id, mission_id) FROM stdin;
\.


--
-- Data for Name: employee_availability; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.employee_availability (id, status, current_latitude, current_longitude, location_updated_at, available_from, updated_at, current_mission_id, employee_id) FROM stdin;
\.


--
-- Data for Name: employee_schedules; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.employee_schedules (id, day_of_week, start_time, end_time, is_working, break_start, break_end, employee_id) FROM stdin;
\.


--
-- Data for Name: enterprise_analytics; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.enterprise_analytics (id, date, missions_created, missions_completed, missions_cancelled, missions_disputed, total_revenue, total_commission, total_paid_to_providers, avg_completion_time, on_time_rate, customer_satisfaction, active_employees, employee_utilization, enterprise_id) FROM stdin;
\.


--
-- Data for Name: enterprise_contracts; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: enterprise_invoices; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: enterprise_teams; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.enterprise_teams (id, name, description, is_active, created_at, enterprise_id, manager_id) FROM stdin;
\.


--
-- Data for Name: escrow_blockchainevent; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.escrow_blockchainevent (id, event_type, contract_address, transaction_hash, block_number, log_index, event_data, processed, processed_at, error_message, created_at, mission_id) FROM stdin;
\.


--
-- Data for Name: escrow_enterprisedeposit; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.escrow_enterprisedeposit (id, amount, currency, status, blockchain_deposit_id, deposit_tx_hash, created_at, locked_at, released_at, enterprise_id, locked_for_mission_id) FROM stdin;
34db2e2e-730b-4180-883b-f0b06c3c695b	5000.00	XOF	locked			2026-07-02 01:13:29.768358+01	2026-07-02 01:13:29.766188+01	\N	3	63197826-0b09-4d02-95ef-c0761029d0dd
\.


--
-- Data for Name: escrow_escrowtransaction; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: escrow_paymentlog; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.escrow_paymentlog (id, amount, currency, payment_method, status, mobile_provider, phone_number, transaction_id, description, external_reference, created_at, completed_at, mission_id, user_id) FROM stdin;
\.


--
-- Data for Name: escrow_providerdeposit; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: gps_locations; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: login_history; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.login_history (id, ip_address, user_agent, device_type, location, is_successful, failure_reason, "timestamp", user_id) FROM stdin;
\.


--
-- Data for Name: mission_applications; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: mission_bookmarks; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.mission_bookmarks (id, created_at, mission_id, provider_id) FROM stdin;
\.


--
-- Data for Name: mission_category_prices; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.mission_category_prices (id, city, min_price, max_price, average_price, currency, updated_at, category_id) FROM stdin;
\.


--
-- Data for Name: mission_proofs; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: mission_reviews; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: mission_solicitations; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: mission_status_history; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: notification_preferences; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: notification_templates; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.notification_templates (id, name, channel, notification_type, subject, title_template, message_template, is_active, language, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: payment_refunds; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.payment_refunds (id, amount, reason, reason_details, status, transaction_id, processed_at, created_at, payment_id) FROM stdin;
37a3f470-1cfd-4735-bad0-e3e9de134b53	15000.00	mission_cancelled	├ëch├⌐ance d├⌐pass├⌐e sans prestataire assign├⌐ ΓÇö fonds rembours├⌐s au client	completed	REFUND-8144F98A8E4D	2026-06-28 06:46:38.470056+01	2026-06-28 06:46:38.472384+01	48dc2283-825f-4f07-94f8-7e27742cac16
\.


--
-- Data for Name: photo_analyses; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.photo_analyses (id, objects_detected, text_detected, faces_count, is_blurry, blur_score, is_dark, brightness_score, exif_timestamp, matches_mission_location, distance_from_mission, fraud_score, fraud_flags, analyzed_at, proof_id) FROM stdin;
1	[]		0	f	\N	f	240.93319045498404	\N	f	\N	0	["analysis_error"]	2026-07-03 01:22:44.879318+01	6a15cd29-8c69-4915-8103-889c0eb04d10
2	[]		0	f	\N	f	240.93319045498404	\N	f	\N	0	["analysis_error"]	2026-07-03 01:22:53.259629+01	fca5cf97-5a5c-419e-b46a-b289696c1595
\.


--
-- Data for Name: platform_settings; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.platform_settings (singleton_key, maintenance_mode, registration_open, email_notifications, service_fee_percent, default_currency, require_2fa_admin, require_kyc, updated_at) FROM stdin;
default	f	t	t	5.00	FCFA	t	t	2026-06-22 09:39:26.85262+01
\.


--
-- Data for Name: proof_checklists; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: provider_profiles; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.push_subscriptions (id, fcm_token, device_id, device_type, device_model, os_version, app_version, is_active, last_used_at, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: qr_validations; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.qr_validations (id, qr_code_data, qr_code_image, status, scanned_at, expires_at, created_at, mission_id, scanned_by_id) FROM stdin;
\.


--
-- Data for Name: reputation_bonuses; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.reputation_bonuses (id, bonus_type, points_added, description, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: reputation_history; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: reputation_levels; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.reputation_levels (id, name, slug, min_score, max_score, min_missions, deposit_discount_percent, priority_access, can_accept_urgent, color, icon, badge_url, description) FROM stdin;
\.


--
-- Data for Name: reputation_penalties; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.reputation_penalties (id, penalty_type, points_deducted, description, is_temporary, expires_at, created_at, applied_by_id, mission_id, user_id) FROM stdin;
\.


--
-- Data for Name: reputation_scores; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: scheduled_notifications; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.scheduled_notifications (id, notification_type, title, message, data, scheduled_at, status, sent_at, error_message, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: signature_records; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.signature_records (id, signer_role, signature_image, signature_data, signed_at, device_info, is_valid, validation_notes, blockchain_hash, created_at, mission_id, signer_id) FROM stdin;
\.


--
-- Data for Name: trust_factors; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.trust_factors (id, email_verified, phone_verified, identity_verified, address_verified, account_age_days, login_frequency, response_time_avg, trust_score, updated_at, user_id) FROM stdin;
1	f	t	t	f	0	0	0	50	2026-06-22 09:26:20.255734+01	f51601ef-e3f1-44e0-a005-da4ddf4ff58b
2	f	t	t	f	0	0	0	50	2026-06-23 23:18:16.607671+01	1e02d858-a971-481b-9781-dead44012995
3	f	t	t	f	0	0	0	50	2026-06-24 00:03:07.987903+01	595c7448-962f-4ddd-a484-9548a5ab7fca
10	t	t	t	f	0	0	0	50	2026-07-03 00:00:44.375751+01	5e93940a-c53c-4cc3-a93e-f5b8db2c97fb
\.


--
-- Data for Name: user_payment_methods; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Data for Name: users_groups; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.users_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_permissions; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--

COPY public.users_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: wallet_transactions; Type: TABLE DATA; Schema: public; Owner: blocktask_user
--



--
-- Name: arbitrators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.arbitrators_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 240, true);


--
-- Name: dispute_category_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.dispute_category_rules_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 60, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 57, true);


--
-- Name: employee_availability_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.employee_availability_id_seq', 1, false);


--
-- Name: employee_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.employee_schedules_id_seq', 1, false);


--
-- Name: enterprise_analytics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.enterprise_analytics_id_seq', 1, false);


--
-- Name: enterprise_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.enterprise_profiles_id_seq', 26, true);


--
-- Name: enterprise_teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.enterprise_teams_id_seq', 1, false);


--
-- Name: login_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.login_history_id_seq', 1, false);


--
-- Name: mission_bookmarks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.mission_bookmarks_id_seq', 1, false);


--
-- Name: mission_category_prices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.mission_category_prices_id_seq', 1, false);


--
-- Name: notification_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.notification_preferences_id_seq', 82, true);


--
-- Name: notification_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.notification_templates_id_seq', 1, false);


--
-- Name: photo_analyses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.photo_analyses_id_seq', 2, true);


--
-- Name: proof_checklists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.proof_checklists_id_seq', 5, true);


--
-- Name: provider_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.provider_profiles_id_seq', 88, true);


--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.push_subscriptions_id_seq', 1, false);


--
-- Name: reputation_levels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.reputation_levels_id_seq', 1, false);


--
-- Name: reputation_scores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.reputation_scores_id_seq', 23, true);


--
-- Name: trust_factors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.trust_factors_id_seq', 10, true);


--
-- Name: users_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.users_groups_id_seq', 1, false);


--
-- Name: users_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: blocktask_user
--

SELECT pg_catalog.setval('public.users_user_permissions_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

